  <edge label="node###SOURCE_ID### (DirectedEdge) node###TARGET_ID###" source="###SOURCE_ID###" target="###TARGET_ID###">
    <att type="string" name="canonicalName" value="node###SOURCE_ID### (DirectedEdge) node###TARGET_ID###"/>
    <att type="string" name="edge.fontSize" value="15.0"/>
    <att type="string" name="edge.label" value="###EDGE_LABEL###"/>
    <att type="string" name="edge.lineWidth" value="###EDGE_WIDTH###"/>
    <att type="string" name="interaction" value="DirectedEdge" cy:editable="false"/>
    <graphics width="###EDGE_WIDTH###" fill="#0000ff" cy:sourceArrow="0" cy:targetArrow="0" cy:sourceArrowColor="#000000" cy:targetArrowColor="#000000" cy:edgeLabelFont="Default-0-20" cy:edgeLabel="###EDGE_LABEL###" cy:edgeLineType="SOLID" cy:curved="STRAIGHT_LINES"/>
  </edge>
